{% extends 'base_auth.html' %}
{% load static %}
<!doctype html>

{% block content %}

    <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-5">
            
            <div class="card-body">
                <div class="card-title py-3">
                    <h4>Login</h4>
                </div>
                
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    {% include 'partials/_messages.html' %}
                <div class="form-group">
                <input type="text" 
                       name="username" 
                       id="usernameField" 
                       placeholder="Username" 
                       class="form-control form-control-sm" 
                       value="{{fieldValues.username}}">
                </div>
               
               
                <div class="form-group py-2">
                <input type="password" 
                       name="password" 
                       id="passwordField" 
                       placeholder="Password" 
                       class="form-control form-control-sm">
                <small class="float-end showPasswordToggle py-2">SHOW</small>
                </div>
                <div class="py-3">
                <input type="submit" class="btn btn-success submit-btn" value="Login">
                </div>
                </form>
                <div class="container">
                    <span class="text-lead lead-sm">Don't have an account?</span>
                <a href="{% url 'register' %}">Register</a><br>
                </div>
        </div>
        </div>
        </div>        

    
    <div class="col-md-4"></div>
</div>

<script src="{% static 'js/register.js' %}"></script>

{% endblock content %}

